[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "libsoundio"]
	path = libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
